/* src/styles.css */

/* Styles for the body element */
body {
	font-family: Arial, sans-serif; /* Set the font family for the body */
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	display: flex; /* Use flexbox layout */
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	background-color: rgb(0, 0, 0); /* Set background color to black */
}

/* Styles for the cube GIF */
.boss-gif {
	height: 200px; /* Set the height of the cube GIF */
	object-fit: contain; /* Maintain aspect ratio while scaling */
}

.Register-signup-button {
	background-color: #1da1f2;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.auth-form {
	padding: 36px;
	width: 350px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--main-bg);
	border-radius: 0.375rem;
	max-width: 396.5px;
	border: 1px solid var(--border);
	box-shadow: 0px 0px 35px rgb(14, 17, 23);
	margin: 0rem 1rem;
	user-select: none;
}

.auth-form h2 {
	color: white;
	margin-bottom: 2rem;
}

fieldset {
	width: 100%;
	color: white;
	border: none;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

fieldset input {
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
	border-bottom: 1px solid white;
	padding: 0.5rem 0.25rem;
	margin-top: 0.25rem;
}

.registration-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.x-auth {
	background-color: gold; /* Set background color to gold */
	border: 1px solid transparent; /* Add a transparent border for hover effect */
	border-radius: 15px;
	padding: 15px;
	color: black;
	font-weight: bold; /* Make the font thicker */
	display: flex; /* Use flexbox for centering */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	cursor: pointer; /* Change cursor to pointer on hover */
}

.x-auth:hover {
	background-color: white;
}

.Register-container {
	display: flex; /* Enable Flexbox */
	flex-direction: column; /* Stack children vertically */
	justify-content: center; /* Center children vertically */
	align-items: center; /* Center children horizontally */
	height: 100vh; /* Optional: Set height to fill the viewport */
}
