.bioContainer {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	max-width: 400px;
}

.headerContainer {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.avatar {
	width: 80px;
	height: 80px;
	margin-right: 16px;
}
