/* Styles for the ticker component */
.ticker {
	background-color: #000000; /* Background color of the ticker */
	color: #fff; /* Text color for the ticker content */
	font-size: 1em; /* Font size for the ticker text */
	overflow: hidden; /* Changed from auto to hidden */
	white-space: nowrap; /* Prevent line breaks, ensuring text stays on a single line */
	width: 100vw; /* Change width to 100% of the viewport width */
	position: fixed; /* Add this line */
	height: 50px; /* Add a fixed height */
	line-height: 60px; /* Center the text vertically */
	top: 60px; /* Move the ticker up vertically */
	left: 0px;
}

/* Styles for the content inside the ticker */
.ticker-content {
	display: flex; /* Changed from flex to inline-block */
	animation: ticker 30s linear infinite; /* Animate the ticker content with a duration of 40 seconds, in a linear fashion, repeating infinitely */
	position: absolute; /* Add this line */
	left: 100vw; /* Change left to 100% of the viewport width */
}

/* Keyframes for the ticker animation */
@keyframes ticker {
	0% {
		transform: translateX(
			25%
		); /* Start the animation with the content off the right side of the container */
	}
	100% {
		transform: translateX(
			-150%
		); /* End the animation with the content off the left side of the container */
	}
}
