* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", sans-serif;
	background: white;
	height: 100%;
}

.footer {
	background-color: rgb(0, 0, 0);
	height: 20vh;
}

.button-container {
	display: flex; /* Use flexbox for centering */
	justify-content: center; /* Center buttons horizontally */
	margin-top: 100px; /* Add space below the navbar */
	padding: 10px;
}

.view-toggle {
	background-color: white; /* Set button background to white */
	color: black; /* Set text color to black for contrast */
	border: 1px solid #ccc; /* Optional: Add a border */
	padding: 10px 20px; /* Optional: Add padding */
	cursor: pointer; /* Change cursor to pointer */
}
button:hover {
	background-color: #ffd700; /* Darken background on hover */
}
