.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid #e1e8ed;
	border-radius: 15px;
	background-color: #ffffff;
	max-width: 300px;
	margin: 0 auto;
}

.welcomeMessage {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #14171a;
}

.profilePicture {
	border-radius: 50%;
	margin-bottom: 15px;
}

.twitter-sign-in-button {
	background-color: #1da1f2;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.twitter-sign-in-button:hover {
	background-color: #65bef4;
}

.signOutButton {
	background-color: #e0245e;
}

.signOutButton:hover {
	background-color: #c51f4a;
}
.twitter-auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
}
